name: python ci
on: 
    push: 
        branches: 
            - master
jobs: 
    build: 
        runs-on: ubuntu-latest
        steps: 
            - name: Git checkout
              uses: actions/checkout@v4
            - name: Setup QEMU
              uses: docker/setup-qemu-action@v3
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
