name: python ci
on: 
    push: 
        branches: 
            - master
jobs: 
    build: 
        runs-on: ubuntu-latest
        steps: 
            - name: Git checkout
              uses: actions/checkout@v4
            - name: Setup QEMU
              uses: docker/setup-qemu-action@v3
            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3
            - name: Check docker version
              run: docker --version
            - name: Setup python 
              uses: actions/setup-python@v5
              with: 
                python-version: '3.10'
            - name: Install dependencies
              run: | 
                python -m pip install --upgrade pip
            - name: Package code
              run: | 
               python MiniProject_Frontend.py
               python MiniProject_Frontend.py